*{
    margin: 0px;
    font-family: cursive;
}

body{
    background-color: #DEA057;
    height: 800px;
}

header{
    height: 150px;
    background-color: #FF5B00;
    font-size: 20px;
    font-family: cursive;
    border-bottom: 5px solid black;
    margin-bottom: 30px;
}
header h1{
    margin-left: 10px;
    padding-top: 10px;
    color: #a54715;

}

.hjudul{
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    margin-bottom: 10px;
}
.container{
    width: 500px;
    background-color: aliceblue;
    margin:  auto;

}

.flex-container{
    display: flex;
}
.display {
    background-color: #95CD41;
    border: 6px solid rgb(0, 0, 0);
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;

}

.button{
    margin: 3px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    flex-basis: 25%;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: #EA5C2B;
}
.button:hover{
    color: red;
    padding: 20px;
    flex-basis: 25%;
    border: 3px solid #000000;
    border-radius: 20px;
    background-color: #b94e2b;
}

.displayNumber{
    text-align: right;
    background-color: #F6D860;
    padding-bottom: 50px;
    padding-right: 10px;
    margin: 5px;
    margin-bottom: 10px;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 28px;
}

